*{

margin:0;

padding:0;

box-sizing:border-box;

}


body{

font-family:Inter;

background:#f8f5f0;

color:#222;

}


header{

height:100px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

background:white;

position:sticky;

top:0;

z-index:999;

}


.logo{

display:flex;

gap:15px;

align-items:center;

}

.logo img{

width:72px;

height:72px;

object-fit:contain;

}


nav{

display:flex;

gap:45px;

}

nav a{

text-decoration:none;

color:#333;

}


.button{

padding:16px 28px;

background:#b78b44;

color:white;

border-radius:40px;

}


.hero{

display:grid;

grid-template-columns:
1fr 1fr;

padding:80px 8%;

align-items:center;

gap:80px;

}


.left h1{

font-size:90px;

line-height:0.95;

font-family:
Cormorant Garamond;

}


.left span{

color:#b78b44;

}


.tags{

margin-top:30px;

}


.right img{

width:100%;

height:760px;

object-fit:cover;

border-radius:30px;

}


.services{

padding:120px 8%;

}


.title{

color:#b78b44;

margin-bottom:20px;

}


.services h2{

font-size:58px;

font-family:
Cormorant Garamond;

margin-bottom:70px;

}


.grid{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:40px;

}


.card{

background:white;

border-radius:30px;

overflow:hidden;

text-decoration:none;

color:black;

transition:.4s;

}


.card:hover{

transform:
translateY(-10px);

}


.card img{

width:100%;

height:300px;

object-fit:cover;

}


.content{

padding:40px;

}


.content h3{

font-size:34px;

margin-bottom:20px;

}


.content p{

line-height:1.8;

}


.content span{

display:block;

margin-top:30px;

color:#b78b44;

}


.why{

padding:120px 8%;

}


.features{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:25px;

margin-top:50px;

}


.features div{

background:white;

padding:40px;

border-radius:20px;

}


.contact{

padding:120px;

text-align:center;

}


.contact p{

margin-top:20px;

}


footer{

padding:50px;

text-align:center;

}



@media(max-width:900px){

.hero,
.grid{

grid-template-columns:1fr;

}

.left h1{

font-size:54px;

}

.right img{

height:420px;

}

}
