*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#F8F5EF;

font-family:'Inter',sans-serif;

color:#222;

overflow-x:hidden;

}



/* NAVBAR */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 8%;

background:#F8F5EF;

position:sticky;

top:0;

z-index:999;

}

.logo img{

height:70px;

}

nav{

display:flex;

gap:35px;

}

nav a{

text-decoration:none;

color:#222;

font-weight:500;

}

.nav-btn{

background:#C4A46B;

padding:14px 28px;

border-radius:50px;

color:white;

text-decoration:none;

}



/* HERO */

.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px 8%;

}

.hero-left{

width:45%;

}

.hero-left p{

letter-spacing:4px;

margin-bottom:20px;

}

.hero-left h1{

font-family:

'Cormorant Garamond';

font-size:85px;

line-height:90px;

}

.hero-left h3{

margin-top:25px;

font-weight:300;

line-height:34px;

}



.hero-buttons{

margin-top:40px;

display:flex;

gap:20px;

}



.hero-buttons a{

padding:18px 30px;

border-radius:60px;

text-decoration:none;

}



.hero-buttons a:first-child{

background:#C4A46B;

color:white;

}



.hero-buttons a:last-child{

border:1px solid #C4A46B;

color:#C4A46B;

}



/* FLOAT IMAGES */

.hero-right{

position:relative;

width:45%;

height:700px;

}
.hero-right img{
position:absolute;
object-fit:cover;
border-radius:28px;
box-shadow:0 20px 60px rgba(0,0,0,.12);
transition:0.5s ease;
}



.main{

width:420px;

right:80px;

top:90px;

}



.small1{

width:220px;

left:0;

top:50px;

}



.small2{

width:240px;

right:0;

bottom:80px;

}



.small3{

width:220px;

left:90px;

bottom:0;

}



/* ABOUT */

.about{

padding:140px 10%;

text-align:center;

}

.about h2{

font-size:54px;

font-family:

'Cormorant Garamond';

margin-bottom:40px;

}

.about p{

max-width:850px;

margin:auto;

line-height:34px;

}



/* SERVICES */

.services{

padding:120px 8%;

}

.services h2{

font-size:60px;

margin-bottom:60px;

font-family:

'Cormorant Garamond';

}



.grid{

display:grid;

grid-template-columns:

repeat(2,1fr);

gap:35px;

}



.card{

background:white;

border-radius:28px;

overflow:hidden;

transition:.4s;

}



.card:hover{

transform:

translateY(-8px);

}



.card img{

width:100%;

height:350px;

object-fit:cover;

}



.card h3{

padding:35px;

font-size:30px;

}



/* WHY */

.why{

padding:120px;

}



.why-grid{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:20px;

}



.why-grid div{

background:white;

padding:60px;

border-radius:20px;

text-align:center;

}



/* CONTACT */

.contact{

padding:140px;

text-align:center;

background:#EFE6DA;

}



.contact h2{

font-size:60px;

margin-bottom:30px;

}



.contact p{

margin:12px;

}



.contact a{

display:inline-block;

margin-top:30px;

padding:18px 35px;

background:#C4A46B;

color:white;

border-radius:50px;

text-decoration:none;

}



/* WHATSAPP */

.whatsapp{

position:fixed;

bottom:40px;

right:40px;

background:#25D366;

width:65px;

height:65px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

text-decoration:none;

}



/* MOBILE */

@media(max-width:900px){

.hero{

flex-direction:column;

}

.hero-left,

.hero-right{

width:100%;

}

.grid{

grid-template-columns:1fr;

}

.hero-left h1{

font-size:54px;

line-height:60px;

}

}
